{% extends 'base.html' %}
{% block content %}
<script>
    setInterval(function(){
        $.ajax({
            url:'./api/torrent_status/',
            dataType:'json',
            success:function(data){
               for(var index in data){
                       $('#'+data[index].hash).attr('data-percent', data[index].progress);
                       $('#'+data[index].hash + "_progress").text(data[index].progress+'%');
                       $('#'+data[index].hash + "_bar").innerWidth(data[index].progress+'%');
                       if (data[index].status != "queued") {
                         $("#"+data[index].hash+"_queued").remove();
                       }
                       else {
                         if(!$("#"+data[index].hash+"_queued").hasClass('label')) {
                           location.reload(true)
                         }
                       }
                       if (data[index].status == "downloading") {
                         var time_status = "<i class='torrent-status wait icon'></i> Remaining time: "+data[index].rtime+" " ;
                         var download_button = "";
                       }
                       else if (data[index].status == "finished"){
                         var time_status = "" ;
                         var download_button = "<a href='./api/download?torrent_hash="+data[index].hash+"'class='ui basic tiny torrent-right button'>"
                                                + "<i class='arrow down large black icon'></i>"
                                                + " Download "
                                                + "</a>";
                       }
                       else if (data[index].status == "queued"){
                         var time_status = "<i class='torrent-status wait icon'></i> Waiting priority: "+data[index].priority+" " ;
                         var download_button = "";
                       }

                       $('#'+data[index].hash + "_status").html( 
                                                                "<i class='arrow circle down icon'></i> "+data[index].download_rate+" (peers: "+data[index].peers+") "
                                                                + "<i class='torrent-status download icon'></i> "+data[index].downloaded_size+' / '+data[index].file_size+" "
                                                                + time_status
                                                                + "<i class='torrent-status info circle icon'></i>Status: "+data[index].status+" "
                                                                + download_button)
                      if (!$('#'+data[index].hash).hasClass('progress')) {
                         location.reload(true);
                      }
                }
            }
        })
    },3500)
</script>

    <!-- Torrent list segments start -->
    <div class="ui segments" id="torrent-segments">
      <div class="ui segment">
        <i class="teal refresh icon"></i> DOWNLOADING TORRENTS
      </div>

      {% for entry in torrent_list %}
          <div class="ui segment">
            {% if entry.status == "queued" %}
            <div id="{{entry.hash_value}}_queued" class="ui left corner teal label">
              <i class="inverted teal wait icon"></i>
            </div>
            {% endif %}
            <h4>{{entry.name}}
              <a href="./api/delete?torrent_hash={{entry.hash_value}}"><i class="large link black remove icon" style="float: right"></i></a>
            </h4>
            <div id="{{entry.hash_value}}" class="ui indicating progress active" data-percent="{{entry.progress}}">
              <div id="{{entry.hash_value}}_bar" class="bar" style="transition: 300ms; -webkit-transition: 300ms; width: {{entry.progress}}%;"> 
                <div id="{{entry.hash_value}}_progress" class="progress">{{entry.progress}}%</div>   
              </div>
            </div>
            <p id="{{entry.hash_value}}_status">
               <i class="arrow circle down icon"></i> {{entry.download_rate}} (peers: {{entry.peers}})
               <i class="torrent-status download icon"></i> {{entry.downloaded_size}} / {{entry.file_size}}
               {% if entry.status == "downloading" %} 
                   <i class="torrent-status wait icon"></i> Remaining time: {{entry.rtime}}
               {% elif entry.status == "queued" %}
                   <i class="torrent-status wait icon"></i> Waiting priority: {{entry.priority}}
               {% endif %}
               <i class="torrent-status info circle icon"></i>Status: {{entry.status}}
               {% if entry.status == "finished" %}
                  <a href="./api/download?torrent_hash={{entry.hash_value}}" class="ui basic tiny torrent-right button">
                      <i class="arrow down large black icon"></i>
                      Download
                  </a>
               {% endif %}
             </p>
          </div>
      {% empty %}
      <div class="ui segment">
        <div class="ui secondary raised center aligned segment">
         <br><br>
         <i class="disabled refresh massive icon"></i>
         <h3>No active downloads</h3>
         <p>There are no torrents downloading at the moment.</p>
         <p>Add torrent to download!</p>
         <br><br>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}
