
{% block navbar %}
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Torrent BOX</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
		<button type="button" class="btn btn-default" style="margin-top:9px;" data-toggle="modal" data-target="#AddTorrent" aria-label="Left Align">
  		    Add Torrent &nbsp<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


<div class="modal fade" id="AddTorrent" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="gridSystemModalLabel">Add Torrent</h3>
        </div>
        <div class="modal-body">
          <div class="container-fluid">

            <div class="row">
		<form enctype="multipart/form-data" action="/api/add_torrent/" method="post">{% csrf_token %}
      		    <input type="text" class="form-control" id="torrent_url" name="torrent_url" placeholder="Input Torrent URL">
      		    <br>Or select a torrent file to upload
		    <input type="file" id="torrent_file" name="torrent_file" style="margin-top:3px;">
		    <button type="submit" style="float:right;" class="btn btn-primary">Upload</button>
		</form>
		<button type="button" class="btn btn-default" data-dismiss="modal" style="float:right; margin-right:7px;">Close</button>
            </div>

          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
